@import url("https://fonts.googleapis.com/css2?family=Manrope");

:root {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}

@keyframes bg-move {
  from {
    background-position-y: bottom;
  }
  to {
    background-position-y: 70%;
  }
}

body {
  background: rgb(2, 6, 23);
  height: 100svh;
  display: grid;
  place-items: center;
  place-content: center;

  color: white;
  font-family: "Manrope", sans-serif;

  background-image: url("https://i.ibb.co/ZpTYhmfq/tulip.jpg");
  /*   background-image: url('https://images.unsplash.com/photo-1745986143057-e611033e37e8');  */

  background-size: cover;
  background-position: bottom;

  animation: bg-move 20s ease-in-out infinite alternate;

  overflow: hidden;

  grid-template-areas: "stack";

  > * {
    grid-area: stack;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-decoration: none;
  font-weight: normal;
  outline: none;
  text-align: center;
  font-size: 1.7em;
  line-height: 6em;
  min-width: 1em;
}

.mpangilio {
  display: grid;
  grid-template-columns: 100px 1fr 50px;
  grid-template-areas: "logo nav switch";
  place-items: center;
}
.zack-logo {
  grid-area: logo;
  display: inline-block;
}
.main-nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
}
.main-nav .nav-link {
  position: relative;
  color: orange;
  font-size: 20px;
}
.mode-switch {
  grid-area: switch;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-area {
  position: relative;
  font-size: 1.5rem;
  padding: 0.3em;
}
.header-content {
  isolation: isolate;
}
.viscous-backdrop {
  width: 100%;
  position: absolute;
  inset: 0;

  resize: horizontal;
  overflow: hidden;
}
/*   body:not(:hover) & {
    transition: .5s;
    width: 100% !important;
  } */

.viscous-backdrop.glass::before {
  content: "";
  position: absolute;
  inset: 0;

  /* 
    | Converts background to 7bit colors 
    | (128 levels for each channel)
    */
  backdrop-filter: url(#pack-upper);
}

.viscous-backdrop.glass::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  /* variations <3 */
  /* backdrop-filter: url(#glass);
  backdrop-filter: url(#liquid-glass);
  backdrop-filter: url(#liquid-glass-new); */
  backdrop-filter: url(#liquid-glass-new) url(#fresnel)
    drop-shadow(0 0 10px #0003);
}

.viscous-backdrop::-webkit-resizer {
  background: #fff;
  border-radius: 99em;
  box-shadow: 0 0 20px 1px #fff;
  outline: 20px solid transparent;
  pointer-events: all;
}

.glass-item {
  filter: url(#round) url(#pack-lower);
  /* correct channel addition blend mode */
  mix-blend-mode: plus-lighter;

  overflow: visible;
  background: #fff;

  width: 100%;
  height: 100%;
}
/* .glass-item-item {
  overflow: visible;
  background: #fff;
} */
/* .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  filter: url(#round) url(#pack-lower);

  mix-blend-mode: plus-lighter;
} */

.og {
  display: inline-block;
  cursor: pointer;
  overflow: visible;
  background: #fff;
}

.icon {
  pointer-events: all;
  width: 3em;
  aspect-ratio: 1;

  transition: 1s;
  border-radius: 0em;
  border-radius: 1em;
  border-radius: 1.5em;

  background: #fff;

  /* color: black; */

  padding: 0.85em;

  /* to make it kinda morph*/
  margin: -0.2em;

  cursor: pointer;
  overflow: visible;

  transition: scale 1s
    linear(
      0,
      0.038 1.6%,
      0.154 3.4%,
      1.026 12.6%,
      1.166 15.2%,
      1.234 18%,
      1.221 21.6%,
      1.005 31.2%,
      0.944 37%,
      1.013 56%,
      1
    )
    /*     , border-radius .3s ease-in-out */;

  will-change: transform;

  nav:has(&:active) &:hover {
    transition-timing-function: ease-out;
    transition-duration: 130ms;
    scale: 0.75;
  }
}

body > svg {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
